.Chat {
    display: inline-block;
    width: 60%;
    max-width: 60%;
    background: #E6EAEA;
    overflow: scroll;
    overflow-x: hidden;
    height: 450px;
}

.ActiveUsers {
    display: inline-block;
    width: 30%;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    height: 500px;
    vertical-align: top;
    margin-right: 20px;
}

.container {
    padding: 10px;
}

.Message {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8e896;
    width: 500px;
    min-height: 70px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.MessageContent {
    padding: 0;
    margin: 0;
}

.MessageDatetime {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.Message:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.Message:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}



